@font-face {
  font-family: 'Noto Serif';
  src: font-path('NotoSerif-Regular.ttf');
}

@font-face {
  font-family: 'Libre Baskerville';
  src: font-path('LibreBaskerville-Regular.ttf');
}

/* Variables */
:root {
  --colbg: white;
  --colmain: #ed6a5a;
  --colblack: #0f0f0f;
  --col1: #5ca4a9;
  --col2: #ffc0b5;

  --mainhfont: 'Libre Baskerville', serif;
  --headfont: 'Libre Baskerville', serif;
  --contentfont: 'Noto Serif', serif;
  --bradius: 5px;

  --ttime: 0.5s;
}

body {
  font-family: var(--contentfont);
}

h1, h2, h3, h4, h5 {
  font-family: var(--headfont);
}

.formula {
  text-align: center;
}

strong {
  background: var(--col2);
  font-weight: 500;
}

table {
  border-collapse: collapse;
  border: solid 1px black
}
table td {
  padding: 3px;
  border: solid 1px black
}