@font-face {
  font-family: 'Noto Serif';
  src: font-path('NotoSerif-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Noto Serif';
  src: font-path('NotoSerif-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Noto Serif';
  src: font-path('NotoSerif-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: font-path('LibreBaskerville-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: font-path('LibreBaskerville-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: font-path('LibreBaskerville-Bold.ttf');
  font-weight: bold;
}

/* Variables */
:root {
  --colbg: #f7f7f7;
  --colmain: #ed6a5a;
  --colblack: #000000;
  --col1: #5ca4a9;
  --col2: #ffc0b5;

  --mainhfont: 'Libre Baskerville', serif;
  --headfont: 'Libre Baskerville', serif;
  --contentfont: 'Noto Serif', serif;
  --bradius: 5px;

  --ttime: 0.5s;
}

body, button {
  font-family: var(--contentfont);
}

h1, h2, h3, h4, h5 {
  font-family: var(--headfont);
}

.formula {
  text-align: center;
}

strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: solid 1px black
}

table td {
  padding: 3px;
  border: solid 1px black
}

.backreference-link {
  scroll-padding-top: -600px;
}

pre, code {
  width: 100%;
  white-space:pre-wrap; word-wrap:break-word;
}