@import 'shared';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--colbg);
}

/* Header rect */

.topheader {
  text-align:center;
  background: var(--colmain);
  width: 100%;
}

.mainh h1:before {
  color:var(--colbg);
  content: "\2772 \0020";
}

.mainh h1:after {
  color: var(--colbg);
  content: "\0020\2773";
}

.mainh h1 {
  font-size: 30px;
  font-weight: 700;
  padding:12px 0 4px 0;
  margin:0;
}

.mainh h2 {
  font-weight: 400;
  font-size: 18px;
  padding:0;
  margin:0;
}

/* Text paragraphs */

.text-p {
  font-size: 17px;
}

.formula {
  font-size: 25px;
}

mark {
  // background: lightgrey;
  background: var(--col2);
}

/* Figures */

figure.left {
  float:left;
  max-width: 300px;
}

figure.right {
  float:right;
  max-width: 300px;
}

figure.whole {
  float: center;
  max-width: 100%;
  margin: 10px;
}

figure img {
  width: 100%;
}

figcaption {
  font-size: 12px;
}

/* Sketches */

.p5-wrapper {
  text-align: center;
  margin: 0 0 30px;
}

.p5-wrapper p {
  font-size: 12px;
  padding: 5px 0;
  margin: 0px;
}

iframe {
  margin: auto;
}

/* Header menu */

.titlebar1 {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
}

.titlebar1 li a {
  padding: 5px 10px;
  display: block;
  cursor: pointer;
}

.titlebar1 li a:hover {
  background: grey;
}

.titlebar1 li a:active {
  background: var(--colblack);
}

/* Main setting section */

.mainset {
  display: grid;
  grid-template-columns: 1fr 750px 1fr;
  grid-gap: 10px;
}

/* Left sidebar section */

.sidebar {
  // list-style-type: circle;
  font-family: var(--mainhfont);
  font-weight: 400;
  // border: solid 1px;
  padding: 10px;
}

.sidebar ol {
  padding: 0 0 0 20px;
}

// .sidebar li::marker {
//   content: "- ";
// }

.sidebar ol ul {
  padding: 0 0 0 20px;
}

.sidebar li a {
  font-size: 13px;
  padding: 0 10px 1px 0;
  display: block;
  color: var(--colblack);
  cursor: pointer;
  transition: var(--ttime);
  text-decoration: none;
  text-decoration-color: var(--colbg);
}

.sidebar li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--col1);
}

/* Content section */

.chapter {
  padding: 0px 15px 0px 20px;
  // border: solid 1px;
}

.chapter p {
  line-height: 34px;
}

.chapter-headers {
  color: var(--colblack);
  font-family: var(--mainhfont);
  margin:0;
}

.chapter-headers h1:before {
  color:var(--col1);
  content: "\2772 \0020";
}

.chapter-headers h1:after {
  color: var(--col1);
  content: "\0020\2773";
}

.chapter-headers h1 {
  font-size: 25px;
  font-weight: 700;
  padding: 10px 0px 0px 0px;
  margin:0;
  text-decoration: underline;
  text-decoration-color: var(--colmain);
}

.chapter-headers h2 {
  font-weight: 400;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

section[data-type="sect1"] h1:before {
  color:var(--col1);
  content: "\25A7 \0020";
}

section[data-type="sect1"] h1:after {
  color: var(--col1);
  content: "\0020\25A8";
}

section[data-type="sect1"] h1 {
  font-weight: 700;
  font-size: 20px;
  padding: 30px 0 0 0;
  margin: 0;
}

section[data-type="sect1"] h2 {
  font-weight: 700;
  font-size: 18px;
  padding: 30px 0 0 0;
  margin: 0;
}

/* Footnotes */
span[data-type="footnote"] a {
  vertical-align: super;
  font-size: smaller;
  color: var(--colmain);
  cursor: pointer;
  transition: var(--ttime);
  text-decoration: none;
  text-decoration-color: var(--colbg);
}

span[data-type="footnote"] a:hover {
  text-decoration: underline;
  text-decoration-color: var(--col1);
}

span[data-type="footnote"] a:visited {
  text-decoration: underline;
  text-decoration-color: var(--colblack);
}

ol[data-type="footnotes"] {
  font-size: 14px;
}

ol[data-type="footnotes"] li {
  margin-bottom: 8px;
}