@import 'shared';

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: var(--colbg);
}
p {
  font-size: 1em;
}
code {
  font-size: 1.2em;
  // background: var(--col2);
}

/* Header rect */

.topheader {
  width: 100%;
  background: var(--colmain);
  text-align:center;
  user-select: none;
}

.mainh h1:before {
  color:var(--colbg);
  content: "\2772\0020";
}

.mainh h1:after {
  color: var(--colbg);
  content: "\0020\2773";
}

.mainh h1 {
  font-size: 2em;
  font-weight: 700;
  padding: 12px 0px 4px 0;
  margin:0;
}

.mainh h2 {
  font-weight: 400;
  font-size: 1em;
  padding:0;
  margin:0;
}

/* Text paragraphs */

.formula {
  font-size: 1.4em;
}

/* Figures */

figure.left {
  float:left;
  max-width: 40%;
}

figure.right {
  float:right;
  max-width: 40%;
}

figure.whole {
  text-align: center;
  float: center; // No está centrando
  max-width: 100%;
  margin: 0.5em;
}

figure img {
  width: 100%;
}

figcaption {
  font-size: 0.9em;
  margin: 0.5em 0px;
}

figure.whole figcaption{
  text-align: center;
}

.side-by-side {
  display: flex;
}

.side-by-side figure {
  text-align: center;
  float: center;
  max-width: 100%;
  margin: 0.5em;
}

/* Sketches */

.sketch-wrapper {
  text-align: center;
  margin: 0 0 30px;
}

iframe {
  margin: auto;
}

/* Header menu */

.titlebar1 {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
}

.titlebar1 li a {
  padding: 5px 10px;
  display: block;
  cursor: pointer;
}

.titlebar1 li a:hover {
  background: grey;
}

.titlebar1 li a:active {
  background: var(--colblack);
}

/* Main setting section */

.mainset {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 900px) 1fr;
  grid-gap: 10px;
}

/* Left sidebar section */

.sidebar {
  // list-style-type: circle;
  font-family: var(--mainhfont);
  font-weight: 400;
  // border: solid 1px;
  padding: 2em 2em;
}

.sidebar ol {
  padding: 0 0 0 20px;
}

.sidebar h1 {
  user-select: none;
}

// .sidebar li::marker {
//   content: "- ";
// }

.sidebar ol ul {
  padding: 0 0 0 10px;
}

.sidebar li a {
  font-size: 13px;
  padding: 0 10px 1px 0;
  display: block;
  color: var(--colblack);
  cursor: pointer;
  text-decoration: none;
  text-decoration-color: var(--colbg);
  user-select: none;
}

.sidebar span {
  user-select: none;
}

.sidebar li a:hover {
  transition: var(--ttime);
  text-decoration: underline;
  text-decoration-color: var(--col1);
}

/* Content section */

.chapter {
  padding: 0px 15px 0px 20px;
}

.chapter p {
  line-height: 34px;
  text-align:justify;
}

.chapter-headers {
  color: var(--colblack);
  font-family: var(--mainhfont);
}

.chapter-headers h1:before {
  color:var(--col1);
  content: "\2772\0020";
}

.chapter-headers h1:after {
  color: var(--col1);
  content: "\0020\2773";
}

.chapter-headers h1 {
  font-size: 1.7em;
  font-weight: 700;
  padding: 10px 0px 0px 0px;
  margin: 35px 0px 8px 0px;
  text-decoration: underline;
  text-decoration-color: var(--colmain);
}

.chapter-headers h2 {
  font-weight: 400;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

section[data-type="sect1"] h1:before {
  color:var(--col1);
  content: "\25A7 \0020";
}

section[data-type="sect1"] h1:after {
  color: var(--col1);
  content: "\0020\25A8";
}

section[data-type="sect1"] h1 {
  font-weight: 700;
  font-size: 1.3em;
  padding: 30px 0 0 0;
  margin: 0;
}

section[data-type="sect1"] h2 {
  font-weight: 700;
  font-size: 1em;
  padding: 30px 0 0 0;
  margin: 0;
}

/* Footnotes */
span[data-type="footnote"] a {
  vertical-align: super;
  font-size: smaller;
  color: var(--colmain);
  cursor: pointer;
  transition: var(--ttime);
  text-decoration: none;
  text-decoration-color: var(--colbg);
}

span[data-type="footnote"] a:hover {
  text-decoration: underline;
  text-decoration-color: var(--col1);
}

span[data-type="footnote"] a:visited {
  text-decoration: underline;
  text-decoration-color: var(--colblack);
}

ol[data-type="footnotes"] {
  font-size: 0.9em;
}

ol[data-type="footnotes"] li {
  margin-bottom: 8px;
}

// Navigation

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.navigation-container a {
  text-decoration: none;
}
