@import 'shared';

:root {
  --h1-size: 14pt;
  --h2-size: 11pt;
  --h1-size-sect: 11pt;
  --h2-size-sect: 9pt;
  --p-size: 8pt;
  --caption-size: 7pt;
  color: black;
}

@page {
  size: 15cm 22.5cm;
  @bottom-center {
    content: counter(page);
    font-size: 7pt;
  }
}

@page flex-cover {
  @bottom-center {
    content: none;
  }
}

section.single-page {
  page-break-after: always;
}

section.flex-cover {
  page: flex-cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 19cm;
  text-align: center;
}

p, ul, ol, code {
  font-size: var(--p-size);
}

a {
  color: var(--colblack);
}

section[data-type="chapter"] {
  page-break-after: always;
}

.toc-title {
  text-align: center;
  font-size: var(--h1-size);
}

nav[data-type="toc"] {
  page: flex-cover;
  counter-reset: page 1;
}

nav[data-type="toc"] ul,ol {
  margin: 5px 15px;
  cursor: pointer;
  counter-reset: item;
}

nav[data-type="toc"] ol>li::before {
  content: counters(item, ".") ".  ";
  counter-increment: item;
}

nav[data-type="toc"] a[href]::after {
  content: leader('.') "p. " target-counter(attr(href), page);
}

nav[data-type="toc"] a[href] {
  text-decoration: none;
}

nav[data-type="toc"] li {
  list-style-type: none;
  font-size: var(--p-size);
}

span[data-type="footnote"] a {
  vertical-align: super;
  font-size: 7pt;
  
  line-height: 0;
  text-decoration: none;
}

.references-title {
  font-size: var(--h1-size);
}

ol[data-type="footnotes"] {
  font-size: var(--p-size);
}

.chapter-headers h1::before {
  content: attr(number) ". ";
}

section[data-type="chapter"] h1 {
  font-size: var(--h1-size);
  text-align: center;
}

section[data-type="chapter"] h2 {
  font-size: var(--h2-size);
}

section[data-type="sect1"] h1 {
  font-size: var(--h1-size-sect);
}

section[data-type="sect1"] h2 {
  font-size: var(--h2-size-sect);
}

section[data-type="sect1"] h3 {
  font-size: var(--h2-size-sect);
}

section[data-type="chapter"] p {
  text-align: justify;
}

figcaption {
  font-size: var(--caption-size);
  text-align: center;
  margin: 10px;
}

figure {
  text-align: center;
}

figure img {
  max-width: 100%;
  max-height: 200px;
}

img {
  max-width: 100%;
  max-height: 200px;
}

blockquote {
  border-left: solid 3px var(--col1);
  padding: 0em 0.5em;
  margin: 0;
}

table {
  font-size: var(--p-size);
}