@import 'shared';

:root {
  --h1-size: 14pt;
  --h2-size: 11pt;
  --h1-size-sect: 11pt;
  --h2-size-sect: 9pt;
  --p-size: 8pt;
  --table-size: 7pt;
  --blockquote-size: 7pt;
  --caption-size: 7pt;
  --footnote-size: 6pt;
  color: black;
  footnote-style-position: inside;
  -prince-footnote-policy: keep-with-line;
}

@page {
  size: 15cm 22.5cm;
  @bottom-center {
    content: counter(page);
    font-size: 7pt;
  }

  @footnote {
    border-top: solid black thin;
    padding-top: 8pt;
  }
}

@page flex-cover {
  @bottom-center {
    content: none;
  }
}

section.single-page {
  page-break-after: always;
}

section.flex-cover {
  page: flex-cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 19cm;
  text-align: center;
}

p, ul, ol, code {
  font-size: var(--p-size);
  line-height: 2em;
  list-style-position: inside;
}

a {
  color: var(--colblack);
}

section[data-type="chapter"] {
  page-break-after: always;
  counter-reset: footnote;
}

// TABLE OF CONTENTS

.toc-title {
  text-align: center;
  font-size: var(--h1-size);
}

nav[data-type="toc"] {
  page: flex-cover;
  counter-reset: page 1;
}

nav[data-type="toc"] ul,ol {
  margin: 5px 10px;
  cursor: pointer;
  counter-reset: item;
}

nav[data-type="toc"] ol>li::before {
  content: counters(item, ".") ".  ";
  counter-increment: item;
}

nav[data-type="toc"] a[href]:not(.subtitle)::after {
  content: leader('.') "p. " target-counter(attr(href), page);
}

nav[data-type="toc"] a[href].subtitle {
  -prince-link: none ! important;
}

nav[data-type="toc"] a[href] {
  text-decoration: none;
}

nav[data-type="toc"] li {
  list-style-type: none;
  font-size: var(--p-size);
}

// FOOTNOTES STYLING

*::footnote-call {
  // Superscript number in top of in text cite
  content: counter(footnote);
  font-size: 83%;
  vertical-align: super;
  line-height: none;
}

*::footnote-marker {
  // Number in front of footnote
  font-weight: normal;
}

.footnote {
  // Footnote proper
  float: footnote;
  font-size: var(--footnote-size);
  line-height: 2em;
}

// .chapter-headers h1::before {
//   content: attr(number) ". ";
// }

.dimension-header {
  font-size: var(--h1-size);
  text-align: center;
}

section[data-type="chapter"] h1 {
  font-size: var(--h1-size);
  text-align: center;
}

section[data-type="chapter"] h2 {
  font-size: var(--h2-size);
  break-after: avoid;
}

section[data-type="sect1"] h1 {
  font-size: var(--h1-size-sect);
  break-inside: avoid;
}

section[data-type="sect1"] h2 {
  font-size: var(--h2-size-sect);
  break-inside: avoid;
}

section[data-type="sect1"] h3 {
  font-size: var(--h2-size-sect);
  break-inside: avoid;
}

section[data-type="chapter"] p {
  text-align: justify;
  orphans: 3;
  widows: 3;
}

figcaption {
  font-size: var(--caption-size);
  text-align: center;
  margin: 10px;
}

figure {
  text-align: center;
  break-inside: avoid;
}

figure img {
  max-width: 100%;
  max-height: 200px;
}

img {
  max-width: 100%;
  max-height: 200px;
}

blockquote {
  border-left: solid 6px gray;
  padding: 0em 0.5em;
  margin: 0;
  line-height: 2em;
  font-size: var(--blockquote-size);
}

table {
  font-size: var(--table-size);
}