<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ config.title }}</title>
    {{ javascripts }}
    {{ stylesheets }}
  </head>
  <body data-type="book">
    <header class="topheader">
      <hgroup class="mainh">
        <a href="./" class="silent-link">
          <h1>{{ config.title }}</h1>
          <h2>{{ config.subtitle }}</h2>
        </a>
      </hgroup>
      <ul class="titlebar1">
        <li><a href="https://github.com/srsergiorodriguez/exploraciones-digitales" target="blank">repo</a></li>
      </ul>
    </header>
    <section class="mainset">
      <aside class="sidebar ">
        <a href="#" class="bookmark" onclick=goToBookmark() >🔖 Marcapáginas</a>
      </aside>
      <article class="chapter">
        {{ content }}
      </article>
      <aside class=sidebar>
      </aside>
    </section>
  </body>
</html>
