{% for item in children %}
<li>
  {% if item.href %}
    {% assign numeral = item.label | split: " " | first %}
    {% assign label = item.label | remove: numeral %}

    {% if numeral <= 11 %}
      <span>{{ numeral }}</span>
      <a data-toc="{{ item.type }}" href="{{ item.href }}">{{ label }}</a>
      {% if numeral >= 5 && numeral <= 8 %}
        <ul class="subsection-toc" chapter-parent="{{ item.label }}">
          {% include toc_item.html children=item.children subsection=true%}
        </ul>
      {% endif %}
    {% else %}
      <a data-toc="{{ item.type }}" href="{{ item.href }}">{{ item.label }}</a>
    {% endif %}

  {% else %}
    <span data-toc="{{ item.type }}">{{ item.label }}</span>
  {% endif %}
</li>
{% endfor %}