@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
  --colbg: #f7f7f7;
  --colmain: #ed6a5a;
  --colblack: #000000;
  --col1: #5ca4a9;
  --col2: #ffc0b5;
  --contentfont: 'Libre Baskerville', serif;
  --bradius: 5px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: var(--contentfont);
}

.box {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  width: 800px;
  border: solid 1px var(--colblack);
  border-radius: var(--bradius);
  padding: 1em;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.date-slider {
  grid-template-columns: 5fr 1fr;
}

.slider {
  box-shadow:none;
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance: none;
  width: 100%;
  background: var(--col2);
  /* height: 2px; */
  border-radius: 5px;
  list-style: none;
  cursor:pointer;
}

button {
  box-shadow:none;
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance: none;
  background: var(--colbg);
  font-family: var(--contentfont);
  border: solid 1px var(--colblack);
  color: var(--colblack);
  cursor: pointer;
  padding: 0.5em;
  border-radius: var(--bradius);
  list-style: none;
  cursor: pointer;
  user-select: none;
}

button:hover:not(:disabled) {
  background: var(--col2);
}

button:active:not(:disabled) {
  background: var(--col1);
}

button:disabled {
  color: lightgray;
  border: lightgray;
  cursor: auto;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.4em;
  height: 1.4em;
  border-radius: var(--bradius);
  border: solid 2px var(--colblack);
  background: var(--colmain);
}

.slider::-webkit-slider-thumb:hover {
  background: var(--colbg);
}

/* Panel */

.panel {
  box-sizing: border-box;
  border: solid 1px var(--colblack);
  border-radius: var(--bradius);
  border: solid 1px black;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

.panel-section {
  padding: 1em;
  overflow:scroll;
  background: var(--colbg);
  border-radius: var(--bradius);
}

.panel-right {
  border-left: solid 1px var(--colblack);
}

.panel-datasheet {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.panel-datasheet a{
  text-align: center;
  color: var(--colmain);
}

.panel-img-container {
  height: 150px;
  text-align: center;
}

.panel-img-container img {
  height: 100%;
  border: solid 1px var(--colblack);
}

.panel-list-element {
  padding: 0.5em;
}

.active {
  cursor: pointer;
  text-decoration: underline;
}

.highlight {
  color: var(--colmain);
}


/* Aventura */

#storygeneraldiv {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  font-family: var(--contentfont);
  background: var(--colbg);
}

.storydiv {
  box-sizing: border-box;
  border: solid var(--colblack) 1px;
  height: 490px;
  width: 100%;
  display: flex;
  padding: 1em;
  border-radius: var(--bradius);
  flex-direction: column;
}

.storytitle {
  font-size: 1.2em;
  margin: 0 0;
  padding: 0;
}

.storyp {
  font-size: 1em;
}

.storymeta-container {
  margin: 0.5em 0;
}

.storymeta-key {
  font-weight: 700;
}

.storybutton-container {
  margin: auto;
}

.storybutton {
  background: var(--colbg);
  box-shadow: none;
  border: solid 1px;
  margin: 0px 1em 0px 0px;
  font-size: 1em;
  font-family: var(--contentfont);
  cursor: pointer;
}

.storybutton:hover {
  background: var(--col2);
}

.storybutton:active {
  background: var(--col1);
}

.storyimage-container {
  box-sizing: content-box;
  position: relative;
  width: 100%;
  margin: auto;
}

.storyimage {
  justify-content: center;
  width: 100%;
  margin: auto;
  border-radius: var(--bradius);
  display: block;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.storyimage-area {
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  text-align: center;
  color: var(--colblack);
  background: none;
  border: solid 1px var(--colblack);
}

.storyimage-area:hover {
  background: #ffffff99;
}

@media screen and (max-device-width: 500px) {
  #storygeneraldiv {
    max-width:100%;
  }
  .storyp {
    font-size: 7vw;
  }
  .storybutton {
    font-size: 10vw;
  }
}