@charset "UTF-8";
@font-face {
  font-family: "Noto Serif";
  src: url('NotoSerif-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "Noto Serif";
  src: url('NotoSerif-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: "Noto Serif";
  src: url('NotoSerif-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url('LibreBaskerville-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url('LibreBaskerville-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url('LibreBaskerville-Bold.ttf');
  font-weight: bold;
}
/* Variables */
:root {
  --colbg: #f7f7f7;
  --colmain: #ed6a5a;
  --colblack: #000000;
  --col1: #5ca4a9;
  --col2: #ffc0b5;
  --mainhfont: "Libre Baskerville", serif;
  --headfont: "Libre Baskerville", serif;
  --contentfont: "Noto Serif", serif;
  --bradius: 5px;
  --ttime: 0.5s;
}

body, button {
  font-family: var(--contentfont);
}

h1, h2, h3, h4, h5 {
  font-family: var(--headfont);
}

.formula {
  text-align: center;
}

strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: solid 1px black;
}

table td {
  padding: 3px;
  border: solid 1px black;
}

.backreference-link {
  scroll-padding-top: -600px;
}

pre, code {
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: var(--colbg);
}

p {
  font-size: 1em;
}

a {
  color: var(--colmain);
}

code {
  font-size: 1em;
}

blockquote {
  border-left: solid 3px var(--col1);
  padding: 0em 0.5em;
  margin: 0;
  font-weight: bold;
}

video {
  border-radius: var(--bradius);
}

button {
  background: var(--colbg);
  border: solid 1px var(--colblack);
  padding: 1em;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: var(--col2);
}

button:active {
  background: var(--colmain);
}

.version-buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.current-section {
  color: var(--colmain);
}

/* Header rect */
.topheader {
  width: 100%;
  background: var(--colmain);
  text-align: center;
  user-select: none;
}

.mainh h1:before {
  color: var(--colbg);
  content: "❲ ";
}

.mainh h1:after {
  color: var(--colbg);
  content: " ❳";
}

.mainh h1 {
  font-size: 2em;
  font-weight: 700;
  padding: 12px 0px 4px 0;
  margin: 0;
}

.mainh h2 {
  font-weight: 400;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

/* Text paragraphs */
.formula {
  font-size: 1.4em;
}

/* Figures */
figure.left {
  float: left;
  max-width: 40%;
}

figure.right {
  float: right;
  max-width: 40%;
}

figure.whole {
  text-align: center;
  float: center;
  max-width: 100%;
  margin: 0.5em;
}

figure img {
  max-width: 100%;
  max-height: 500px;
}

figcaption {
  font-size: 0.9em;
  margin: 0.5em 0px;
}

figure {
  text-align: center;
}

.border img {
  border: solid 1px black;
  border-radius: 5px;
}

.side-by-side {
  box-sizing: content-box;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
}

.side-by-side figure {
  box-sizing: content-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding: 0px;
  margin: 0em;
}

.side-by-side img {
  object-fit: contain;
  height: 100%;
}

/* Sketches */
.sketch-wrapper {
  text-align: center;
  margin: 0 0 30px;
}

.video-wrapper {
  text-align: center;
  margin: 0 0 30px;
}

iframe {
  margin: auto;
}

/* Header menu */
.titlebar1 {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
}

.titlebar1 li a {
  padding: 5px 10px;
  display: block;
  cursor: pointer;
  color: var(--colblack);
}

.titlebar1 li a:hover {
  background: black;
  color: var(--colmain);
}

.titlebar1 li a:active {
  background: var(--colblack);
}

/* Main setting section */
.mainset {
  display: grid;
  grid-template-columns: 1fr minmax(850px, 950px) 1fr;
  grid-gap: 10px;
}

/* Left sidebar section */
.sidebar {
  font-family: var(--mainhfont);
  font-weight: 400;
}

.sidebar h1 {
  user-select: none;
  font-size: 1em;
}

.sidebar ol, ul {
  padding: 0 0 0 20px;
  counter-reset: item;
}

.sidebar ol > li:before {
  content: counters(item, ".") ".  ";
  counter-increment: item;
}

.sidebar ol > li {
  list-style-type: none;
}

.sidebar li a {
  font-size: 0.8em;
  padding: 0 10px 1px 0;
  color: var(--colblack);
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.sidebar ul, ol.subcontent a[data-toc=chapter] {
  font-size: 0.85em;
  font-weight: bold;
}

.toc-title {
  text-align: center;
}

.sidebar ul, ol.subcontent a[data-toc=sect1] {
  font-size: 0.85em;
}

.sidebar span {
  user-select: none;
}

.sidebar li a:hover {
  transition: var(--ttime);
  text-decoration: underline;
  text-decoration-color: var(--col1);
}

/* Content section */
.chapter {
  padding: 0px 15px 0px 20px;
}

.chapter p {
  line-height: 34px;
  text-align: justify;
}

.chapter li {
  line-height: 28px;
  text-align: justify;
}

.chapter-headers {
  font-family: var(--mainhfont);
}

.chapter-headers h1:before {
  color: var(--col1);
  content: "❲ ";
}

.chapter-headers h1:after {
  color: var(--col1);
  content: " ❳";
}

.chapter-headers h1 {
  font-size: 1.7em;
  font-weight: 700;
  padding: 10px 0px 0px 0px;
  margin: 35px 0px 8px 0px;
  text-decoration: underline;
  text-decoration-color: var(--colmain);
}

section[data-type=sect1] h1:before {
  color: var(--col1);
  content: "▧ ";
}

section[data-type=sect1] h1:after {
  color: var(--col1);
  content: " ▨";
}

section[data-type=sect1] h1 {
  font-weight: 700;
  font-size: 1.4em;
  padding: 30px 0 0 0;
  margin: 0;
}

section[data-type=sect1] h2:before {
  color: var(--col2);
  content: "▧ ";
}

section[data-type=sect1] h2:after {
  color: var(--col2);
  content: " ▨";
}

section[data-type=sect1] h2 {
  font-weight: 700;
  font-size: 1.2em;
  padding: 30px 0 0 0;
  margin: 0;
}

section[data-type=sect1] h3:before {
  color: var(--colblack);
  content: "▧ ";
}

section[data-type=sect1] h3:after {
  color: var(--colblack);
  content: " ▨";
}

section[data-type=sect1] h3 {
  font-weight: 700;
  font-size: 1em;
  padding: 30px 0 0 0;
  margin: 0;
}

/* Footnotes */
span[data-type=footnote] a {
  vertical-align: super;
  line-height: 0;
  font-size: smaller;
  color: var(--colmain);
  cursor: pointer;
  transition: var(--ttime);
  text-decoration: none;
  text-decoration-color: var(--colbg);
}

span[data-type=footnote] a:hover {
  text-decoration: underline;
  text-decoration-color: var(--col1);
}

span[data-type=footnote] a:visited {
  text-decoration: underline;
  text-decoration-color: var(--colblack);
}

ol[data-type=footnotes] {
  font-size: 0.9em;
}

ol[data-type=footnotes] li {
  margin-bottom: 8px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.navigation-container a {
  text-decoration: none;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--colbg);
  color: var(--colblack);
  width: 400px;
  border: solid 1px var(--colblack);
  text-align: center;
  padding: 0.5em;
  font-size: 0.7em;
  line-height: 1em;
  border-radius: 6px;
  position: absolute;
  left: -75px;
  top: 2em;
  z-index: 1;
  cursor: text;
  word-break: break-word;
  scroll-padding-top: 100px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.sticky {
  position: sticky;
  top: 0px;
  overflow: hidden;
  height: 100vh;
}

.upscroller {
  position: sticky;
  top: 20px;
  text-decoration: none;
  font-size: 1em;
  padding: 0px 10px;
}

.centered {
  display: flex;
  justify-content: center;
}

.overline {
  border-top: 1px solid var(--colblack);
  border-bottom: 1px solid var(--colblack);
  padding: 1em 0;
}

.silent-link {
  color: inherit;
  text-decoration: inherit;
}

@media all and (max-width: 1150px) {
  .mainset {
    grid-auto-flow: row;
    grid-template-columns: auto;
  }
}